<div id="main">
	<script type="text/javascript">
		<% unless @routes.empty? %>
			<% g_adjustment = 0.034 %>
			var sw = new google.maps.LatLng(<%= @sw_corner[:lat].to_f + g_adjustment %>, <%= @sw_corner[:lng].to_f + g_adjustment %>);
			var ne = new google.maps.LatLng(<%= @ne_corner[:lat].to_f - g_adjustment %>, <%= @ne_corner[:lng].to_f - g_adjustment %> );
			bounds = new google.maps.LatLngBounds(sw,ne);
		<% end %>
	  routes = <%= raw @routes.to_json %>;
	</script>
	<div id="map_canvas"></div>
</div>

<div id="route_box">
	<div id="route_title">Slabless Routes</div>
	<div id="route_content">
		<%= render "route_actions" %>
  	<ul>	
		<% @routes.each do |route| %>
		    <li><%= link_to route.name, route %></li>
		<% end %>
		</ul>
	</div>
</div>

