<script type="text/javascript">
	<% unless @routes.empty? %>
		<% g_adjustment = 0.034 %>
		var sw = new google.maps.LatLng(<%= @bounds[0][:lat].to_f + g_adjustment %>, <%= @bounds[0][:lng].to_f + g_adjustment %>);
		var ne = new google.maps.LatLng(<%= @bounds[1][:lat].to_f - g_adjustment %>, <%= @bounds[1][:lng].to_f - g_adjustment %> );
		bounds = new google.maps.LatLngBounds(sw,ne);
	<% end %>
  routes = <%= raw @routes.to_json %>;
</script>

<div id="main">
	<div id="map_canvas"></div>
</div>

<%= render :partial => "map_menu", :locals => {:view => "index"} %>

<% unless @routes.empty? %>
	<div id="route_box">
		<div id="route_title">Slabless Routes</div>
		<div id="route_content">
	  	<ul>	
			<% @routes.each do |route| %>
			    <li><%= link_to route.name, route %></li>
			<% end %>
			</ul>
		</div>
	</div>
<% end %>

