<script type="text/javascript">
  var route = <%= raw @route.to_json %>;
  routes = [];
  routes.push(route);
</script>

<div id="main">
	<div id="map_canvas"></div>
</div>

<%= render :partial => "map_menu", :locals => {:view => "show"} %>

<div id="route_box">
	<div id="route_box_tabs">
		<ul>
			<li><a href="#info_tab"><span>Info</span></a></li>
			<li><a href="#waypoint_tab"><span>Waypoints</span></a></li>
		</ul>
		<div id="info_tab">
			<% unless notice.nil? %>
				<p id="notice"><%= notice %></p>
			<% end %>		
			<ul>
				<li id="route_name"><%= @route.name %></li>
				<li><%= @route.destination %></li>
				<li>Visibility: <%= @route.visibility.capitalize %></li>
				<li>Slabs Allowed: <%= @route.slabs_allowed == "1" ? "Yes" : "No" %>
			</ul>
			<% if current_user.can_update?(@route) %>
				<div id="route_crud_actions">
					<%= link_to image_tag('edit.png', :border => 0), edit_route_path(@route), :title => "Modify this route" %> 
					<%= link_to image_tag('delete.png', :border => 0), @route, :title => "Delete this route", confirm: 'Are you sure you want to delete this route?', method: :delete %></div>
				<% end %>
			<%= render :partial => 'ratings' %>
		</div>		
		<div id="waypoint_tab">
			<div id="distance_duration" class="show" data-seconds="<%= @route.seconds %>" data-meters="<%= @route.meters %>"></div>
			<div id="route_waypoints">
				<% unless @route.waypoints.empty? %>
					<ul>
					<% for waypoint in @route.waypoints %>
			  		<li><%= waypoint.name %></li>
					<% end %>
					</ul>
				<% end %>
			</div>				
		</div>			 	
	</div>
</div>
<div id="info_pane" class="hidden" style="position: absolute; top: 296px; left: 772px; ">
	<a href="javascript:void(0);" title="Close Window" id="info_pane_close">&nbsp;</a>
	<div id="info_pane_content">
		<a name="top"></a>
	</div>
</div>



